# Dependencies
node_modules/
v10/

# Build Outputs
dist/
build/
out/
drizzle/
.turbo/
*.tsbuildinfo
.astro
# Environment Variables
.env
.env.local

# System Files
.DS_Store
Thumbs.db
data/


#Ignore cursor AI rules
.fastembed_cache
.cursor/rules/codacy.mdc
