# Dependencies
node_modules/
v10/
.codacy

# Build Outputs
dist/
build/
out/
drizzle/
.turbo/
*.tsbuildinfo
apps/*/.astro/
apps/*/.turbo/
apps/*/.vite/
apps/*/dist/
apps/docs/.astro/
apps/docs/.turbo/
apps/docs/dist/
apps/ui/.turbo/
apps/ui/.vite/
apps/ui/dist/
# Environment Variables
.env
.env.local

# System Files
.DS_Store
Thumbs.db
data/


#Ignore cursor AI rules
.fastembed_cache
.cursor/rules/codacy.mdc
